<nav class="navbar navbar-0 navbar-expand-lg navbar-dark bg-dark  ">
    <div class="container">
    <a class="navbar-brand" href="#"><i class="far fa-sticky-note mx-1"></i>Notes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item dropdown" *ngIf="!_AuthService.LogInData()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sign
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/signIn" >SignIn</a>
            <a class="dropdown-item" routerLink="/signUp" >SignUp</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="_AuthService.LogInData()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LogOut
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)='logOut()'  >logOut</a>
          </div>
        </li>

      </ul>
    </div>
</div>
  </nav>